################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/专利
/文献
/BAS.泊位策划.ConceptualClassDiagram.vsdx
/BAS.泊位策划.SystemContextDiagram.vsdx
/BAS.泊位策划.UseCaseDiagram.vsdx
/Phenix.iTOS.BAP+QCAP+QCSP.xmind
/Phenix.iTOS.CAS(QC部分)+QCSS.xlsx
/Phenix.iTOS.CSS(QC部分)+QCSS.pdm
/Phenix.iTOS.pptx
/SPS.船舶计划.ConceptualClassDiagram.vsdx
/TOS系统设计方法.docx
/物流产品线规划.xlsx
/src/.vs
/src/Bin
/src/Bin_PgSQL/net8.0/Phenix.Core.db
/src/Bin_PgSQL
/src/Bin_PgSQL/net8.0
/src/ITOS.IGV.Plugin
/src/Phenix.StorageAlgorithm
/src/Phenix.StorageAlgorithm.Test
